.call_float_button{
    position:fixed;
    width:40px;
    height:40px;
    bottom:80px;
    right:80px;
    font-size: 23px;
    color: white;
    background-color: #00acee;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
}

.desktop_call_button{
    display: block;
}
.mobile_call_button{
    display: none;
}

.rangeSlider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        height: 15px; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
      }
      
      /* Mouse-over effects */
      .rangeSlider:hover {
        opacity: 1; /* Fully shown on mouse-over */
      }
      
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
      .rangeSlider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 20px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background:blue; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
      
      .rangeSlider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }

      .modalLabel {
        font-size:12px;
        margin-left:15px
      }

  

@media all and (max-width: 700px){
    .desktop_call_button{
        display: none;
    }
    .mobile_call_button{
        display: block;
    }
    .call_float_button{
        bottom:80px;
        right:40px;
    }
}